.category {
  text-align: left;
  margin: 1em auto;
  ul {
    @include liReset;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0px 8px 8px 0px;
      display: block;
    }
  }
  a {
    border: 1px solid $colorPrimary;
    padding: 0.25em 0.75em;
    border-radius: 0.25rem;
    display: block;
    color: #333;
    font-size: 1em;
    box-sizing: border-box;
    background: mix($colorPrimary, #fff, 10%);
    // &:before {
    //   content: '#';
    //   margin-right: 0.25em;
    // }
    &:hover,
    &:focus,
    &.active {
      background: mix($colorPrimary, #fff, 30%);
      border: 1px solid lighten($colorPrimary, 5);
      box-shadow: none;
    }
    span {
      font-size: 0.813em;
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }
  }
}
