.award {
  @extend .apply;
  .eventList {
    ul {
      .title {
        min-width: 8em;
        text-align: center;
      }
    }
  }
  .flexForm {
    margin: 0;
  }
  .formGrid {
    border-top: 0px;
  }
  table {
    margin-bottom: 2em;
    th {
      width: 278px;
    }

    @include screen('tablet') {
      th {
        width: 50%;
      }
    }
  }
  .maintainTable {
    td {
      text-align: center;
      &.time {
        span {
          display: block;
        }
      }
    }
    a {
      &.btn {
        border-radius: 0.25rem;
        color: #fff;
      }
    }
  }
  .infoBlock {
    margin: 0.5em 0 2em 0;
    .title {
      font-weight: 700;
    }
    .event {
      &.numType {
        list-style-type: decimal;
        padding-left: 1.5em;
      }
    }
  }
  .additional {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    input {
      width: calc(100% - 0.6em);
    }
    a,
    button {
      border-radius: 0.25rem;
      min-width: unset;
    }
    .btn {
      color: #fff;
    }
  }
  .uploadGrp {
    flex-wrap: nowrap;
    .uploadBtn {
      position: relative;
      padding: 0.5em 1.25em;
      min-width: unset;
      top: 0;
      right: 0;
      overflow: unset;
      input[type='file'] {
        width: 100%;
        padding: 0.5rem;
      }
    }
    .upload_file {
      opacity: 1;
      color: #000;
    }
    button {
      flex: none;
    }
  }
  .fileLink {
    @extend .webLink;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        margin-left: 0.25em;
        color: mix($aColor, #000, 70%);
      }
      &::before {
        top: 0.5em;
      }
    }
    .btn {
      padding: 0.25em;
      min-width: 2em;

      flex: none;
      i {
        font-size: 1.25em;
      }
    }
  }
  .btnGrp {
    justify-content: center;
  }
  .i_delete_dark {
    &:before {
      background: url('../../images/icon/icon_delete_dark.svg') center center no-repeat;
      background-size: contain;
      margin-top: -0.1em;
      margin-bottom: 0.1em;
    }
  }
  &:has(.loginCard) {
    justify-content: center;
    display: flex;

    .loginCard {
      width: 65%;
      .formCard > div {
        z-index: 1;
        position: relative;
      }
      .btnGrp {
        margin-top: 1em;
      }
    }
    .formCard {
      position: relative;
      background: url('../images/about_bg.jpg') no-repeat;
      background-size: cover;
      &::after {
        content: '';
        position: absolute;
        opacity: 0.5;
        background: #fff;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .loginlink {
        display: flex;
        justify-content: center;
        a {
          margin-left: 0.75em;
        }
      }
    }
    @include screen('tablet') {
      .loginCard {
        width: 80%;
      }
    }
    @include screen('mobile') {
      .loginCard {
        width: 100%;
      }
    }
  }
}
.wrapper {
  &.niia {
    .award {
      &:has(.loginCard) {
        .formCard {
          background: url('../images/about2_bg.jpg') no-repeat;
        }
      }
    }
  }
}

.centerBlock {
  &:has(.loginCard) {
    h2.title {
      text-align: center;
    }
  }
}
.captcha {
  &.formGrp {
    &:last-child {
      border-bottom: 1px dashed #ddd;
    }
  }
  .code {
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
    input {
      width: 100%;
    }
  }
}
.formCol_4_4_4 {
  &.address {
    select + input {
      width: calc(100% - 0.6em);
      flex-basis: calc(100% - 0.6em);
      max-width: calc(100% - 0.6em);
    }
  }
}
