.leftBlock {
  .nodeMenu {
    padding: 0;
  }

  .title {
    border-radius: 0.25rem 0.25rem 0 0;
    font-weight: 400;
    background: $colorPrimary;
    // background-color: #389F98;
    padding: 1rem 0.5rem;
    margin: 0;
  }

  .accordion {
    ul {
      padding: 0;

      .nextLv > a {
        position: relative;

        &::after {
          content: '';
          border: 2px solid $colorPrimary;
          border-bottom: 0;
          border-left: 0;
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: rotate(45deg) translateY(-50%);
        }
      }

      li {
        margin-bottom: 0;
        padding-bottom: 0;

        a {
          display: block;
          padding: 15px 30px 15px 20px;
          color: #222;
          font-weight: bold;
          font-size: rem(18);

          &.active,
          &:hover {
            background: mix(#9e9e9e, #ffff, 75%);
          }
        }

        ul {
          display: none;

          li {
            a {
              background: #f2f2f2;
              padding: 15px 30px 15px 32px;

              &.active,
              &:hover {
                background: #ccc;
              }
            }

            li {
              a {
                padding: 15px 30px 15px 48px;

                &.active,
                &:hover {
                  color: $colorLink;
                  background: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.leftBlock.memberLeftBlock {
  transition: all 0.5s;

  @include screen('tablet') {
    display: block;
    position: fixed;
    top: 200px;
    width: 300px;
    z-index: 999;
    left: -260px;
  }

  @include screen('mobile') {
    top: 70px;
  }

  .title {
    align-items: center;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;

    @include screen('tablet') {
      border-radius: 0.25rem 0 0 0;
    }
  }

  .user {
    text-align: center;
    font-size: 1rem;
    padding: 0.5em 0;
    background-color: #f2f2f2;
  }

  .handle {
    font-size: 0;
    position: absolute;
    display: block;
    width: 30px;
    height: 61px;
    background: url(../images/icon/icon_arrow_right.svg) 50% 50% no-repeat, $colorPrimary;
    background-size: 14px 14px;
    border-radius: 0 8px 8px 0;
    right: -30px;
    top: 0;
    display: none;
    cursor: pointer;

    @include screen('tablet') {
      display: block;
    }
  }

  &.open {
    left: 16px;
    transition: all 0.5s;
  }

  .accordion {
    ul {
      li {
        a {
          padding: 10px 20px 10px 15px;
          font-size: 1rem;
        }
      }
    }
  }
}

.np {
  .submenu {
    margin-bottom: rem(60);
  }
}

.kv {
  height: rem(195);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}