.leftBlock {
  .nodeMenu {
    padding: 0;
  }

  .title {
    border-radius: 0.25rem 0.25rem 0 0;
    font-weight: 400;
    background: $colorPrimary;
    padding: 1rem 0.5rem;
    margin: 0;
  }

  .accordion {
    ul {
      padding: 0;

      .nextLv > a {
        position: relative;

        &::after {
          content: '';
          border: 2px solid #1b224c;
          border-bottom: 0;
          border-left: 0;
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: rotate(45deg) translateY(-50%);
        }
      }

      li {
        margin-bottom: 0;
        padding-bottom: 0;

        a {
          display: block;
          padding: 15px 30px 15px 20px;
          color: #222;
          font-weight: bold;
          font-size: rem(18);
          &.active,
          &:hover {
            background: #9e9e9e;
          }
        }

        ul {
          display: none;

          li {
            a {
              background: #f2f2f2;
              padding: 15px 30px 15px 32px;

              &.active,
              &:hover {
                background: #ccc;
              }
            }

            li {
              a {
                padding: 15px 30px 15px 48px;

                &.active,
                &:hover {
                  color: $colorLink;
                  background: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.np {
  .submenu {
    margin-bottom: rem(60);
  }
}
.kv {
  height: rem(195);
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
